{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Flasky{% endblock %}

{% block page_content %}

    <h1>关于我们</h1>
    <pre>雪客是一家互联网创业公司，专注于数据的获取，分析，以及提供相关增值服务。雪客在中国苏州和瑞典斯德哥尔摩设有办公室，整个公司以工程师为主,富有工匠精神，鼓励创新，追求极致。雪客注重于B2B领域，为全球顶尖的创业公司提供服务。

雪客的研发团队经验十分丰富，有来自微软、爱立信、百度、搜狗等顶尖IT公司的成员，有来自百度大数据和搜狗大数据方面的专家，以及中国人民大学数据中心总工程师负责系统的设计和架构。

雪客的投资人团队也都是互联网老兵，有着丰富的创业、管理和投资经验。成功案例包括Prezi (6000w用户，估值3亿美金)，Truecaller（1亿5千万用户，估值10亿美金），NetEnt(上市公司，市值16亿美金)，Betsson (上市公司, 市值22亿美金)。

我们的目标是要成为世界第一的数据平台及数据增值服务供应商。

公司基本信息
移动互联网
天使轮
少于15人
苏州
公司标签
股票期权 扁平管理 领导好 五险一金 弹性工作 岗位晋升 节日礼物 技能培训 管理规范
公司介绍
面试评价
公司位置
</pre>

{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}